<a href="https://colab.research.google.com/github/Erofili-K/BI-BA/blob/main/BI_first_ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Business intelligence (BI)**

Πρώτα κάνουμε όλα τα install που θα χρειαστούμε για το project.

In [ ]:
!pip install sklearn

Εδώ γίνονται τα import όλων των βιβλιοθηκών.

In [3]:
import numpy as np 
import pandas as pd

In [19]:

celcius_temperatures = pd.DataFrame({'location': ['Thessaloniki', 'Kozani', 'Larisa','allala'],
                                     'temperature': [-3, -5, -7,0]})


# create tables 
celcius_temperatures.head()

       location  temperature
0  Thessaloniki           -3
1        Kozani           -5
2        Larisa           -7
3        allala            0

In [ ]:
!gdown --id 1AoxyWxed4K-sBjOOxvKERkGzITa8v22g
!unzip /content/bank-full-data.zip

In [24]:

ex1 = pd.DataFrame({'case': ['1','2','3','4','5','6'],
                    'category':['+','+','-','+','-','-'],
                    'a1':['T','T','T','F','F','F'],
                    'a2':['T','T','F','F','T', 'T']
                    })
ex1.head()

  case category a1 a2
0    1        +  T  T
1    2        +  T  T
2    3        -  T  F
3    4        +  F  F
4    5        -  F  T

In [16]:
ex1.describe()

       case category a1 a2
count     6        6  6  6
unique    6        2  2  2
top       1        +  T  T
freq      1        3  3  4